{% load static %}
<div class="portfolio-item">
    <div class="image">
        <a href="{% url 'portfolio:portfolio_detail' p.pid %}">
            <img
                src="{{p.image.url}}"
                alt="project-1"
                class="img-fluid w-100"
            />
        </a>
        
    </div>

    <div class="text">
        <div class="info">
            <a href="{% url 'portfolio:portfolio_detail' p.pid %}" class="title"
                >{{p.title}}
            </a>
            <p class="subtitle">{{p.description|safe|truncatewords:10}} 
                <small class="text-primary" style="font-size: 14px;">
                    <a href="{% url 'portfolio:portfolio_detail' p.pid %}">Click here to see project features & details.</a>
                </small> 
            </p>
        </div>

        <div class="visite-btn">
            <a href="{{ p.site_url }}" target="_blank"> 
                
                Click Here to Visit Site.

                <svg
                    class="arrow-up"
                    width="14"
                    height="15"
                    viewBox="0 0 14 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M9.91634 4.5835L4.08301 10.4168"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>

                    <path
                        d="M4.66699 4.5835H9.91699V9.8335"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    
                </svg>
            </a>
        </div>

    </div>
</div>