{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    
    
    <div id="page-content">
        
        <header class="header-area">
            {% include 'includes/nav.html' %}
        </header>
        

        
        <main>
            <section class="content-box-area mt-4">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-xl-4">
                            <div class="card profile-card">
                                <div class="card-body">
                                    <!-- Side Profile -->
                                    {% include 'includes/side-profile.html' %}
                                </div>
                            </div> 
                        </div>


                        <div class="col-xl-8">
                            <div class="card content-box-card">
                                <div class="card-body portfolio-card">
                                    <div class="top-info">
                                        <div class="text">
                                            <h1 class="main-title">Check Out My Latest <span>Projects</span></h1>
                                            <p>
                                                I'm here to help if you're searching for a Django Developer to bring
                                                your idea to life.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="portfolio-area">
                                        <div class="row g-4 parent-container">
                                            <div class="col-lg-12">
                                                
                                                {% for p in posts %}
                                                    {% include 'includes/posts.html' %}
                                                {% endfor %}                                                        
                                                
                                            </div>

                                        </div>

                                        <div class="pagination">
                                            <!-- Pagenation -->
                                            {% include 'includes/pagination.html' %}
                                            
                                        </div>
                                    </div>

                                    <div class="work-together-slider">
                                        <!-- Lets Work Together -->
                                        {% include 'includes/work-together.html' %}
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
                
{% endblock content %}
