{% load static %}

<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Django Mastery</title>
        <meta name="description" content="Django Mastery" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.svg' %}" />
        
        
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/fontawsome/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/fontawsome/css/fontawesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
    </head>

    <body>
        
        
        {% block content %}
            <!-- Content Here -->
        {% endblock content %}
        
        <footer class="footer-area">
            <div class="container">
                <div class="text text-center">
                    <p>@Django Mastery 2026</p>
                </div>
            </div>
        </footer>                
        
        <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/ajax-form.js' %}"></script>
        <script src="{% static 'assets/js/clipboard.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>

    
</html>
